html, body, body > div {
  height: 100%;
}

.content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden !important;
  overflow-y: auto;
  background-color: #000;
  position: relative;
}

.Landing {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top:0;
  background-size: cover !important;
  background: url("./assets/bg.jpg") no-repeat center top !important;
  mix-blend-mode: normal;
  opacity: 0.2;
}

.font {
  white-space: pre-line;
  max-width: 560px;
  font-style: normal;
  font-weight: bold;
  font-size: calc(1.5vw + 22px);
  line-height: calc(1.5vw + 30px);
  text-align: center;
  letter-spacing: -2px;
  color: #ffffff;
  margin: calc(1.5vw + 15px);
}

.font div {
  display: contents;
}

.inputGroup {
  position: relative;
  width: calc(250px + 13vw) !important;
  margin: calc(1.5vw + 15px) 0;
}

.button {
  position: absolute;
    width: calc(2vw + 80px);
    height: 54px;
    background: #ff453a;
    border-radius: 100px;
    color: white;
    border: 0 solid #000;
    transition: all .3s ease-in-out;
    top: 3px;
    right: 4px;
    cursor: pointer;
}
.button:hover{
  background: #E72A20;
  transform: scale(1.03);
}
.button:focus{
  outline: none !important;
}
.input {
  width: 100%;
  height: 60px;
  background: #000000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 100px;
  color: #ffffff;
  padding: 0 calc(2vw + 90px) 0 30px;
}
.input:focus{
  border-radius: 100px;
  outline: none !important;
  border-color: #fff;
}

.phoneCase {
  position: absolute;
  width: 480.52px;
  z-index: 2;
  height: 928.42px;
  background: url("./assets/phone-case.png");
  background-repeat: no-repeat!important;
}

.phoneScreen {
  position: absolute;
  width: 395px;
  height: 859px;
  left: 45px;
  top: 40px;
  z-index: 1;
  background-repeat: no-repeat!important;
  background: url("./assets/phone-screen.jpg");
}

.imageGroup {
  position: relative;
  height: 388px !important;
  width: 481px !important;
}

.instagram {
  font-style: normal;
  font-weight: bold;
  font-size: calc(0.3vw + 14px);
  line-height: 1;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  margin-top: calc(1.5vw + 15px);
}

.instagram img {
  vertical-align: middle;
}

.discord{
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.2px;
  color: #FFFFFF;
  position: relative;
  text-align: center;
  top: 23%;

}
.discord img{
  vertical-align: middle;
}

.notification {
  position: relative;
  width: 500px;
  top: 43%;
  height: 60px;
  left: 50%;
  display: flex;
  /* background-color: #37d61a; */
  text-align: center;
  flex: 1;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: #fff;
}

.nike {
  width: 185px ;
  height: 80px ;
  background: #FF4534;
  border-radius: 10px;
}
.error {
  position: relative;
  top: 38%;
  text-align: center;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #ff453a;
  font-size: 20px;
  margin:20px;
}
a {
  color: white;
  text-decoration: none;
  transition: all .3s ease;
}

a:hover {
  text-decoration: none;
  opacity: 0.8;
  cursor: pointer;
  transition: all .3s ease;
}

@media (max-width: 500px) {
  .imageGroup {
    height: 270px !important;
    transform: scale(0.7);
    transform-origin: top;
  }

}