@font-face {
  font-family: 'SFPro';
  font-style: normal;
  font-weight: 400;
 
  src: local('SFPro'), local('SFPro'),
       url('./assets/fonts/SF-Pro-Text-Bold.otf') format('woff'), /* Modern Browsers */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
